/* color settings */
:root{
    --blue: rgb(119, 121, 240);
    --darkblue: rgb(42, 34, 134);
    --lightblue: rgb(125, 193, 202);
    --skyblue: rgb(236, 248, 249);
}

/* margin size to be adjusted within height/width limit stated */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--skyblue,white);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--darkblue,darkblue);
}

a {
    color: var(--darkblue,darkblue);
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: var(--blue,blue);
    background-image: linear-gradient(to bottom right, var(--blue,blue), var(--lightblue,lightblue));
}

header h1 {
    flex: 1 0 auto;
    display: inline;
    padding: 15px;
    margin: 15px;
}

header menu li {
    flex: 0 1 auto;
    display: inline;
    padding: 15px;
    margin: 15px;
}

header menu li:hover {
    background-color: aquamarine;
}

section h2 {
    display: block;
    background-color: var(--lightblue,lightblue);
    text-align: left;
    padding: 10px
}

section p {
    padding: 10px
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.about-me p {
    flex: 0 0 auto;
    max-width: 70%;
    max-height: 400px;
    margin: 10px;
    line-height: 2;
}
.about-me img {
    flex: 0 0 auto;
    max-width: 200px;
    max-height: 300px;
    margin: 10px;
    border: 2px solid var(--darkblue,darkblue);
}

.article {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin: 10px;
    opacity: 50%;
}

.article:hover {
    opacity: 100%;
    box-shadow: 8px 10px 10px 2px grey;
    margin: 5px
}

.article img {
    object-fit: cover;
    width: 482px;
    height: 300px;
    border: 2px solid var(--darkblue,darkblue);

}

.article.large img {
    object-fit: cover;
    width: 1000px;
    height: 300px;
    border: 2px solid var(--darkblue,darkblue);

}

.article h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border: 5px solid var(--darkblue,darkblue);
    color: var(--darkblue,darkblue);
    background-color: var(--skyblue, white)
}

footer {
    text-align: center;
    display: block;
    line-height: 1.5;
}

@media screen and (max-width: 1030px){
    .article.large img {
        flex-direction: column;
        object-fit: cover;
        width: 482px;
        max-width:fit-content;
        height: 300px;
    }
}

@media screen and (max-width: 768px){
.about-me {
        flex-direction: column;
    }
}

